@page "/item/{ItemId:guid}"
@using T109.ActiveDive.FrontEnd.Blazor.Components
@using T109.ActiveDive.FrontEnd.Blazor.Pages
@using T109.ActiveDive.FrontEnd.Blazor.Components.DisplayImageWithSelector;

<div class="shopitem-detail-page">

   
    <div class="shopitem-picture-name-price-block shopitem-block">

        <div class="shopitem-picture-block">
            <DisplayImageWithSelector ContainerWidth="500" ImgList="@ImgList" ContainerHeight="500" SelectorPosition="DisplayImageWithSelector.SelectorPositionEnum.bottom" ></DisplayImageWithSelector>
        </div>

        <div class="shopitem-pricing-block">
            @ActualItem.Name
        </div>

    </div>
    <div class="shopitem-block-separator"></div>
    <div class="shopitem-description-block shopitem-block">
        @ActualItem.Description
    </div>
    <div class="shopitem-block-separator"></div>
    <div class="shopitem-comments-block shopitem-block"></div>
    <div class="shopitem-block-separator"></div>
    
    
    
    
    
    
    




</div>
