@using T109.ActiveDive.FrontEnd.Blazor.Components
@using T109.ActiveDive.FrontEnd.Blazor.Pages
@using T109.ActiveDive.FrontEnd.Blazor.Data
@using T109.ActiveDive.FrontEnd.Blazor.Components.Search

@inherits LayoutComponentBase

<div class="page">
    <div class="topSpace"></div>
    @inject FrontEndSettings DisplaySettings;

    @if (@DisplaySettings.DisplayTopHorizontalMenu)
    {
        <div class="topbar">
            <TopNavMenu />
        </div>
    }

    <div class="search">
        <Search />
    </div>

    @if (@DisplaySettings.DisplayMainHorizontalMenu)
    {
        <div class="bottombar">
            <BottomNavMenu />
        </div>
    }

    @if (@DisplaySettings.DisplayNavBar)
    {
        <div class="itemPath">
            <b>Category \ category \ item </b>
        </div>
    }

        @Body


    <div class="footer">
    <div class="footerVisible"> This is footer ©️ </div>
    </div>

</div>