<div class="TopNavMenuContainer">

<div class="TopNavMenuLocation TopBarElement">
    Location
</div>
<div class="TopNavMenuItems TopBarElement">
    <div class="TopNavMenuItem"> <a rel="nofollow" target="_self" href="">MenuItem 1</a> </div>
    <div class="TopNavMenuItem"> <a rel="nofollow" target="_self" href="">MenuItem 2</a> </div>
    <div class="TopNavMenuItem"> <a rel="nofollow" target="_self" href="">MenuItem 3</a> </div>
    <div class="TopNavMenuItem"> <a rel="nofollow" target="_self" href="">MenuItem 4</a> </div>
    <div class="TopNavMenuItem"> <a rel="nofollow" target="_self" href="">MenuItem 5</a> </div>
</div>

</div>
