<div class="BottomNavMenuContainer">

<div class="BottomNavMenuItems">
    <div class="BottomNavMenuItem"> <a rel="nofollow" target="_self" href="">BottomMenuItem 1</a> </div>
    <div class="BottomNavMenuItem"> <a rel="nofollow" target="_self" href="">BottomMenuItem 2</a> </div>
    <div class="BottomNavMenuItem"> <a rel="nofollow" target="_self" href="">BottomMenuItem 3</a> </div>
    <div class="BottomNavMenuItem"> <a rel="nofollow" target="_self" href="">BottomMenuItem 4</a> </div>
    <div class="BottomNavMenuItem"> <a rel="nofollow" target="_self" href="">BottomMenuItem 5</a> </div>
</div>

</div>
